aspectKeysOfInterest := make(map[string]struct{})
var err error

if d.HasChange("aspects") {
	currentAspects, futureAspects := d.GetChange("aspects")
	err = AddEntryLinkAspectsToSet(aspectKeysOfInterest, currentAspects)
	if err != nil {
		return nil, err
	}
	err = AddEntryLinkAspectsToSet(aspectKeysOfInterest, futureAspects)
	if err != nil {
		return nil, err
	}
} else {
	err = AddEntryLinkAspectsToSet(aspectKeysOfInterest, d.Get("aspects"))
	if err != nil {
		return nil, err
	}
}

// Only filter if we actually have keys from the config.
// If the set is empty (e.g. during Import), we skip filtering 
// and keep ALL aspects returned by the API.
if len(aspectKeysOfInterest) > 0 {
	err = FilterEntryLinkAspects(aspectKeysOfInterest, res)
	if err != nil {
		return nil, err
	}
}

err = InverseTransformEntryLinkAspects(res)
if err != nil {
	return nil, err
}

return res, nil