// templates/terraform/decoders/dataplex_entry_link.go.tmpl

aspects := res["aspects"]
if aspects != nil {
	_, errors := NumberOfEntryLinkAspectsValidation(aspects, "aspects")
	if len(errors) > 0 {
		return nil, errors[0]
	}
}

// 1. Build the set of keys from Config (if valid)
aspectTypeKeysOfInterest := make(map[string]struct{})
var err error

if d.HasChange("aspects") {
	currentAspects, futureAspects := d.GetChange("aspects")
	err = AddEntryLinkAspectsToSet(aspectTypeKeysOfInterest, currentAspects)
	if err != nil {
		return nil, err
	}
	err = AddEntryLinkAspectsToSet(aspectTypeKeysOfInterest, futureAspects)
	if err != nil {
		return nil, err
	}
} else {
	err = AddEntryLinkAspectsToSet(aspectTypeKeysOfInterest, d.Get("aspects"))
	if err != nil {
		return nil, err
	}
}

// 2. Only Filter if we actually have keys of interest.
// If the set is empty, it means either:
//   a) We are running an Import (so we want ALL aspects to verify state)
//   b) The user Config is empty (so we want ALL aspects so Terraform can plan to destroy them)
if len(aspectTypeKeysOfInterest) > 0 {
    err = FilterAspects(aspectTypeKeysOfInterest, res)
    if err != nil {
        return nil, err
    }
}

// 3. Always transform the map to a list
err = InverseTransformEntryLinkAspects(res)
if err != nil {
	return nil, err
}

return res, nil